@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    background:rgb(24, 24, 24);
    color:whitesmoke;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

nav a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: #35a07c;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: #38ac85;
    background-color: transparent;
    text-decoration: none;
  }

a:hover#Altieri {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

p {
  font-family: 'Work Sans', sans-serif;
  color: white;
  padding-top: 35px;
}

a:hover.secondary {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}

.container {
  width: 97%;
  margin: 0 auto;
}

header {
  background-color: #55d6aa;
  margin-bottom: 75px;
}

header:after {
  content: '';
  display: table;
  clear: both;
}
.logo {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav {
  float: right;
}

nav ul {
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
}

nav li {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-left: 35px;
  padding-top: 0px;
  padding-bottom: 1px;

  position: relative;
}

nav a {
  text-transform: uppercase;
}
nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: #38ac85;
  
  position: absolute;
  top: -8px;
  width: 0%;

  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}
.container {
  font-family: 'Work Sans', sans-serif;
  text-transform: lowercase;
  font-weight: 500;
}
a#socials {
  color: #38ac85;
}

#Altieri {
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  text-transform: lowercase;  
  font-size: 40px;
  padding-top: 17px;
  text-decoration: none;
  color: whitesmoke;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.abouttext {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  margin-top: -33px;
  padding-left: 200px;
  word-wrap: break-word;
}

a:link.current { 
  color: #427c69;
}

a:visited.current {
  color: #427c69;
}

.aboutheaders { 
  font-family: 'Work Sans', sans-serif;
  padding-left: 200px;
  margin-top: 100px;
  font-size: 15pt;
  color:#35a07c;
  display: inline-block;
}